<%= form_with(model: talk_table, local: true) do |form| %>
  <% if talk_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(talk_table.errors.count, "error") %> prohibited this talk_table from being saved:</h2>

      <ul>
      <% talk_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :input %>
    <%= form.text_field :input %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
