<%- model_class = TalkTable -%>
<div class="page-header">
  <h1>あいちゃんの単語帳</h1>
</div>

<div>
  <%= form_tag(@talk_tables_path, method: "get") do %>
    <%= label_tag :input, "Input", class: 'form_date_select label_size' %>
    <%= text_field_tag :input, params[:input], class: 'form-control form_date_select' %>
    <br>
    <%= label_tag :message, "Message", class: 'form_date_select label_size' %>
    <%= text_field_tag :message, params[:message], class: 'form-control form_date_select' %>
    <br>
    <%= label_tag :tag, "Tag", class: 'form_date_select label_size' %>
    <%= text_field_tag :tag, params[:tag], class: 'form-control form_date_select' %>
    <br>
    <%= submit_tag "検索", :class => 'btn btn-primary' %>
  <% end %>
</div>
<table class="table table-striped">
  <div class="text-center">
    <%= paginate @talk_tables %>
  </div>
  <thead>
  <tr>
    <% def sortTh(a, contName) %>
      <% if request.fullpath.include?('desc')
        link_to a, sort: contName
      else
        link_to a,sort: "#{contName} desc"
      end %>
    <% end %>
    <th><%= sortTh(model_class.human_attribute_name(:id),'id') %></th>
    <th><%= sortTh(model_class.human_attribute_name(:input),'input') %></th>
    <th><%= sortTh(model_class.human_attribute_name(:message),'message') %></th>
    <th><%= sortTh(model_class.human_attribute_name(:tag),'tag') %></th>
    <th><%= sortTh(model_class.human_attribute_name(:created_at),'created_at') %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @talk_tables.each do |talk_table| %>
    <tr>
      <td><%= link_to talk_table.id, talk_table_path(talk_table) %></td>
      <td><%= talk_table.input %></td>
      <td><%= talk_table.message %></td>
      <td><%= talk_table.tag %></td>
      <td><%= l talk_table.created_at %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_talk_table_path(talk_table), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    talk_table_path(talk_table),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-xs btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= paginate @talk_tables %>
</div>
<div>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_talk_table_path,
              :class => 'btn btn-primary' %>
</div>
